body {
    background: #111; 
    color: rgb(255, 255, 255);
    text-align: center;
    font-size:25px;
    background-image: url("../img/sea.jpg");
    background-size: cover;
}

h1{
    margin: 10px;
    color: rgb(15, 112, 192);
    display:inline;
}
.life-container{  /* anchors */
    display:inline-block;
    width: 110px;
    cursor: not-allowed;
}
  
.sweeper {
    margin: 0 auto;
}

table {
    /* border-collapse:separate; */
    border-spacing: 3px;
    table-layout: fixed;
    width: 200px;
    height: 200px;
    line-height: 8px;
    border-radius: 5px;
    background: rgb(2, 41, 85);
}
.cell {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight:  bold;
    margin:0;
    line-height: 8px;
    table-layout: fixed;
}

button{
    background: rgb(95, 136, 182);
    cursor: pointer;
    border-radius: 5px;
    border:0;
}
.expand{
    background-image: url("../img/sea.jpg");
}
.mine{
    background-color: red;
}
.hide{
    display:none;
}

.game-results-container{
    font-size:20px;
    margin-top: 10px;
}
.restart-btn{  /* smily */
    cursor: pointer;
    margin-right:40px;
    background: rgb(95, 136, 182);
    border-radius: 5px;
    border:0
}

.containers{
    background: rgb(2, 41, 85);
    color: white;
    width: 50px;
    height: 30px;
    margin:0 auto;
    line-height: 30px;
    border-radius: 3px;
    display: inline-block;
    margin-right:20px;
    margin-bottom:4px;
    border:1px solid rgb(205, 207, 236);
}

.timer{
    cursor: not-allowed;
}

.best-score{
    line-height: 30px;
    border-radius: 3px;
    display: inline-block;
    cursor: not-allowed;
    border:1px solid rgb(205, 207, 236); 
}

.marked-mines{
    cursor: not-allowed;
    color: rgb(185, 23, 23);
}
.marked-mines-container{
    margin: auto;
}

.game{
    border: 1px solid rgb(15, 86, 240);
    width: 400px;
    margin: auto;
    margin-bottom: 46px;
    border-radius: 5px;
}

.safe-container{ /* safe no mine place */
    display:inline-block;
    width: 110px;
    cursor: pointer;
}
.safe-step{
    background-color: rgb(105, 184, 105);
}
.full-safe-container{
    display:inline-block;
    cursor: pointer;
    margin:0;
    margin-right:30px;
    font-size: 20px;
}